body {
	margin: 0;
	font: 14px/1.6em 'Open Sans', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.4em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-r {
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.container {
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto;
}

header.main {
	position: relative;
	z-index: 100;
	background: #fff;
	min-height: 80px;
}

header.main a {
	text-decoration: none;
	color: #000;
}

header.main a.logo {
	font-size: 32px;
	line-height: 80px;
}

header.main nav.main {
	display: none;
}

body.open header.main nav.main {
	display: block;
}

header.main nav.main ul {
	margin: 0;
	padding: 0;
}

header.main nav.main ul li {
	list-style: none;
}

header.main nav.main ul li a {
	display: block;
	line-height: 80px;
	padding: 0 20px;
	font-size: 1.25em;
	text-align: center;
}

@media (min-width: 960px) {
	header.main .container {
		display: flex;
	}
	header.main nav.main {
		display: block;
		margin-left: auto;
	}
	header.main nav.main ul {
		display: flex;
	}
	header.main nav.main ul li a {
		display: inline-block;
	}
}

.burger {
	width: 55px;
	height: 45px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #444;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
	top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
	top: 12px;
}

.burger span:nth-child(4) {
	top: 24px;
}

.burger.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.burger.open span:nth-child(2) {
	transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
	transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.nav-toggle {
	position: absolute;
	top: 25px;
	right: 20px;
	z-index: 9999;
	margin-left: auto;
	text-align: center;
	line-height: 80px;
	font-weight: bold;
	cursor: pointer;
}

@media (min-width: 960px) {
	.nav-toggle {
		display: none;
	}
}

@media (min-width: 960px) {
	footer.main .row {
		display: flex;
		margin-left: -20px;
		margin-right: -20px;
	}

	footer.main .row .col {
		width: 50%;
		margin: 20px;
	}
}