    /*
    Flaticon icon font: Flaticon
    Creation date: 06/12/2019 10:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-facebook-app-logo:before { content: "\f100"; }
.flaticon-instagram-logo:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-royal-crown-of-triangles-grid-design:before { content: "\f103"; }
.flaticon-restaurant:before { content: "\f104"; }
.flaticon-drink-beer-jar:before { content: "\f105"; }
.flaticon-maps-and-flags:before { content: "\f106"; }
.flaticon-envelope:before { content: "\f107"; }
.flaticon-call-answer:before { content: "\f108"; }
.flaticon-crown:before { content: "\f109"; }
.flaticon-star:before { content: "\f10a"; }
.flaticon-clock-circular-outline:before { content: "\f10b"; }
.flaticon-breakfast:before { content: "\f10c"; }
.flaticon-fork:before { content: "\f10d"; }
.flaticon-beer:before { content: "\f10e"; }
.flaticon-dish:before { content: "\f10f"; }
.flaticon-ice-cream:before { content: "\f110"; }
.flaticon-chair:before { content: "\f111"; }
.flaticon-birthday-cake:before { content: "\f112"; }
.flaticon-bottle-and-glass-shapes:before { content: "\f113"; }
.flaticon-wine:before { content: "\f114"; }
.flaticon-glass-with-wine:before { content: "\f115"; }
.flaticon-google-plus:before { content: "\f116"; }
.flaticon-linkedin:before { content: "\f117"; }
.flaticon-pizza:before { content: "\f118"; }
.flaticon-pizza-1:before { content: "\f119"; }
.flaticon-open:before { content: "\f11a"; }
.flaticon-man-user:before { content: "\f11b"; }
.flaticon-calendar:before { content: "\f11c"; }
.flaticon-view:before { content: "\f11d"; }
.flaticon-search:before { content: "\f11e"; }
.flaticon-shopping-cart:before { content: "\f11f"; }
.flaticon-paypal-logo:before { content: "\f120"; }
.flaticon-paypal-logo-1:before { content: "\f121"; }
.flaticon-credit-cards-payment:before { content: "\f122"; }
.flaticon-visa-pay-logo:before { content: "\f123"; }
.flaticon-master-card-logo:before { content: "\f124"; }
.flaticon-amazon-logo:before { content: "\f125"; }
.flaticon-maestro-pay-logo:before { content: "\f126"; }
.flaticon-american-express-logo:before { content: "\f127"; }
.flaticon-price:before { content: "\f128"; }
.flaticon-talk:before { content: "\f129"; }
.flaticon-left-arrow:before { content: "\f12a"; }
.flaticon-right-arrow:before { content: "\f12b"; }
    
    $font-Flaticon-facebook-app-logo: "\f100";
    $font-Flaticon-instagram-logo: "\f101";
    $font-Flaticon-twitter: "\f102";
    $font-Flaticon-royal-crown-of-triangles-grid-design: "\f103";
    $font-Flaticon-restaurant: "\f104";
    $font-Flaticon-drink-beer-jar: "\f105";
    $font-Flaticon-maps-and-flags: "\f106";
    $font-Flaticon-envelope: "\f107";
    $font-Flaticon-call-answer: "\f108";
    $font-Flaticon-crown: "\f109";
    $font-Flaticon-star: "\f10a";
    $font-Flaticon-clock-circular-outline: "\f10b";
    $font-Flaticon-breakfast: "\f10c";
    $font-Flaticon-fork: "\f10d";
    $font-Flaticon-beer: "\f10e";
    $font-Flaticon-dish: "\f10f";
    $font-Flaticon-ice-cream: "\f110";
    $font-Flaticon-chair: "\f111";
    $font-Flaticon-birthday-cake: "\f112";
    $font-Flaticon-bottle-and-glass-shapes: "\f113";
    $font-Flaticon-wine: "\f114";
    $font-Flaticon-glass-with-wine: "\f115";
    $font-Flaticon-google-plus: "\f116";
    $font-Flaticon-linkedin: "\f117";
    $font-Flaticon-pizza: "\f118";
    $font-Flaticon-pizza-1: "\f119";
    $font-Flaticon-open: "\f11a";
    $font-Flaticon-man-user: "\f11b";
    $font-Flaticon-calendar: "\f11c";
    $font-Flaticon-view: "\f11d";
    $font-Flaticon-search: "\f11e";
    $font-Flaticon-shopping-cart: "\f11f";
    $font-Flaticon-paypal-logo: "\f120";
    $font-Flaticon-paypal-logo-1: "\f121";
    $font-Flaticon-credit-cards-payment: "\f122";
    $font-Flaticon-visa-pay-logo: "\f123";
    $font-Flaticon-master-card-logo: "\f124";
    $font-Flaticon-amazon-logo: "\f125";
    $font-Flaticon-maestro-pay-logo: "\f126";
    $font-Flaticon-american-express-logo: "\f127";
    $font-Flaticon-price: "\f128";
    $font-Flaticon-talk: "\f129";
    $font-Flaticon-left-arrow: "\f12a";
    $font-Flaticon-right-arrow: "\f12b";